<!--The content below is only a placeholder and can be replaced.-->

<h1>
    Welcome to {{ title }}!
</h1>
<p *ngIf="datasaved" ngClass="Success">
    Record Saved Sucessfully
</p>

<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
    <table>

        <tr>
            <td>Name:</td>
            <td><input formControlName="name"></td>

        </tr>
        <tr>
            <td>Category</td>
            <td><input formControlName="category"></td>

        </tr>
        <tr>
            <td>company</td>
            <td><input formControlName="company"></td>

        </tr>
        <tr>
            <td colspan="2">
                <button [disabled]="bookForm.invalid">Submit</button>
            </td>
        </tr>
    </table>
</form>
<h3>View</h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Compay</th>
    </tr>
    <tr *ngFor="let bk of allbooks | async">
        <td>{{bk.id}}</td>
        <td>{{bk.name}}</td>
        <td>{{bk.category}}</td>
        <td>{{bk.company}}</td>
        <td>
            <button type="button" (click)="editBook(bk.id)">Edit</button></td>
    </tr>
</table>